.col-pos {
    width: 80px;
}

.col-num {
    width: 100px;
}

.col-points {
    width: 100px;
}

/* Estilos isolados para Títulos de Estatísticas em Campeonatos */
.text-stat-title-sm {
  font-size: 0.8rem;
}

.text-stat-title-md {
  font-size: 0.85rem;
}